body {
  font-size: 16px;
  color: #fff;
  background-color: #663300;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #cccc00;
  border-radius: 0;
  border: 0;
}

.navbar-brand { /* Restaur02nt name */
  color: #000000
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

#mainMenu{
  text-align: center;
  color: #000000
  font-weight:bold;
  font-size: 1.8em;
}
